header div {
    position: absolute;
    top: 50px;
margin: 0 10px;


}
header div img{
    float: left;
}
header div h2{
    font-weight: 700;
    font-size: xx-large;
    font-family: cursive;
    top: 0px;
    display: inline;
}
header div P{
    font-weight: 100;
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    color: rgb(190, 185, 190);
}
nav 
{
    
    display: inline;
     
}
nav {
    position: relative;
    top: 60px;
    float: right;
    padding:20px ;
}

nav img{
   
    display: inline;
}
header{
    background-color:white;
    height: 150px;
    position: relative;
}
.headerdiv {
    height: 10px;
   
    background-color: rgb(214, 214, 214);
}
main{
    position: relative;
}

main h1 {
    font-size: xx-large;
    font-weight: 700;
    font-family: sans-serif;
    margin-top:50px ;
    margin-left:10px ;
}
main h3{
    color: rgba(133, 123, 133, 0.87);
    font-family: sans-serif;
    margin-top:10px ;
    margin-left:10px ;
}
#print {
    color: rgba(133, 123, 133, 0.87);
    margin-right:20px ;
    float: right;
}
main p{
    margin: 20px;
}

#img{
    width: 100%;
    size: cover;
    margin-top:30px ;
    margin-bottom: 20px;
}

.imgfooter{
position: relative;
    float: left;
    margin-right: 25px;
}

.h2footer{

    margin: 10px;
    font-size: x-large;
    font-weight: 700;
    color: rgb(65, 65, 65);

}

.pfooter{
    color: rgb(65, 65, 65);

}

.share{
width: 200px;
height: 50px;
background-color: rgb(255, 41, 41);
float: right;
text-align: center;
position: relative;


}

.pfooter2{
    position: absolute;
    top: 20px;
    right: 45px;
    color: blanchedalmond;
}
.img3{
    width: 100%;
}

